<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MultiBranding" value="https://inte.amaris.com/multibranding/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="HrEmails" value="INTE_testmail@amaris.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="ContactUsEmail" value="INTE_testmail@amaris.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ERP:RedirectUri" value="https://inte.portalia.fr/Portalia/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ERP:UserDatabaseConnection" value="Username-Password-Authentication-INTE"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ERP:EmployeeEmailDomains" value="portalia.fr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="PortaliaContext" connectionString="Data Source=ISQLP01E1\PORTALIA,9153;Initial Catalog=Portalia;Integrated Security=True;App=Portalia" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>