<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="API.ApiKeyName" value="APIKey"/>
    <add key="API.ApiKeyValue" value=";#%4QAL+?dpFBXefEAa5bvBf^N|4"/>
    <!--<add key="BaseAPI" value="http://localhost:54501/" />-->
    <add key="BaseAPI" value="https://qa.portalia.fr/Portalia/" />
  </appSettings>
</configuration>
