@using Portalia.ViewModels
@model Object

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Télécharger des fichiers</h4>
    </div>
    <div class="modal-body">
        @Html.Partial("_FileUpload", new FileUploadViewModel
        {
            UrlAction = Url.Action("UploadUserPicture", "Document", new { userId = Model.ToString() })
        })
        <div class="alert alert-warning" id="messageContent" style="display: none">
            <strong>Warning!</strong> Indicates a warning that might need attention.
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>