<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/">Home</a></li>
        <li class="active">Confirm</li>
    </ol>
    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Confirmation Email Sent</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Please check your email and confirm your email address.</h3>
                        <p class="text-center text-muted">
                            Lorem ipsum dolor sit amet, <a href="@Url.Action("Login","Account")">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio.
                        </p>
                        <hr>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>

