@{
    ViewBag.Title = "Confirmation de mot de passe oublié";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="login">
    <div class="row">
        <div class="col-xs-12 full-height">
            <div class="login__container">
                <article class="col-sm-12 maincontent">
                    <header class="page-header">
                        <h1 class="page-title">Confirmation de mot de passe oublié</h1>
                    </header>
                    @if (ViewBag.Message != null)
            {
                        <p class="text-danger">
                            @ViewBag.Message
                        </p>
                    }
                    else
                    {
                        <p>
                            Consultez vos emails pour réinitialiser votre mot de passe.
                        </p>
                    }
                    <br>
                </article>
            </div>
        </div>
    </div>

</section>