@{
    ViewBag.Title = "Confirmation de changement de mot de passe";
}
<header id="head" class="secondary"></header>

<div class="container" style="min-height: 630px">
    <ol class="breadcrumb">
        <li><a href="~/">@Portalia.Resources.RegisterPage.Home</a></li>
        <li class="active">Confirmation de changement de mot de passe</li>
    </ol>

    <div class="row">
        <hgroup class="title">
            <h1>Confirmation de changement de mot de passe.</h1>
        </hgroup>
        <div>
            <p>
                Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter.", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
            </p>
        </div>
    </div>
</div>
