@{
    ViewBag.Title = "About";
}

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")">Accueil</a></li>
        <li class="active">À propos de Portalia</li>
    </ol>

    <div class="row">
        <!-- Article main content -->
        <article style="font-size: 16px" class="col-sm-13 text-justify">
            <header class="page-header"></header>
            <p style="font-size: 16px">
                <div class="row">
                    <div class="col-lg-5">
                        <img alt="Consultant ingénieur en portage salarial" height="550px" src="~/Content/images/andrew-neel-218073.jpg">
                    </div>
                    <div class="col-lg-7">
                        <h1 class="page-title text-center">Qui sommes-nous ?</h1>
                        <br/>
                        <br />
                        <span style="width: 0.7em; font-size: 355%; line-height: 100%; font-family: noirbold">V</span><b style="
                                                                                                                                      font-family: OpenSans;
                                                                                                                                      ">ous êtes unique et nous allons prendre soin de vous.</b><br />
                        En choisissant de travailler en portage salarial, vous avez souhaité gagner en indépendance et en flexibilité tout en conservant les protections offertes par le statut de salarié.<br />
                        Vous allez désormais pouvoir construire votre propre trajectoire de carrière grâce aux projets correspondants à vos expertises.<br />
                        Libéré des contraintes administratives induites par la complexité du Code du travail, vous pourrez vous consacrer sereinement à votre cœur de métier en qualité de consultant chez vos clients.<br />
                        Nous nous chargeons en effet de gérer pour vous l’intégralité des démarches nécessaires à la relation tripartite qui va lier votre client, PORTALIA et vous-même. <br />
                        Nos experts en droit du travail, droit commercial, comptables et juristes seront là pour vous assister. Nos Managers, quant à eux, véritables coachs personnels, auront à cœur de veiller à la bonne réalisation de votre mission et construiront avec vous un plan de développement personnel.<br />
                        <br />
                        <br />
                        Nous serons ravis de vous rencontrer dans nos bureaux pour échanger avec vous et répondre à vos questions ! <br />
                        <br />
                        À très bientôt chez PORTALIA !<br />
                    </div>
                </div>
            </p>
        </article>
    </div>
</div> <!-- /container -->
<br />
<br />
<br />
<br />
<section title="Les Valeurs de portalia" class="bg-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p style="padding-top: 37px; font-size: 55px; color: rgb(114, 200, 180)">NOS VALEURS</p>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div style="background-color: rgb(114, 200, 180);height: 282px" class="col-lg-3 text-center hvr-grow">
            <br />
            <h4 style="font-family: OpenSans">
                <b>Performance & Dynamisme</b>
            </h4>
            <br />
            <p>
                Grace à notre réseau de partenaires en France et en Europe, vous bénéficiez d’un accès privilégié aux projets à haute valeur ajoutée dans les domaines du conseil en Management, DSI, Ingénierie, R&D, dans les secteurs de la Fintech/Banque, Assurance, Télécommunication/Digital, Transports, Energie, Biotech et Pharma
            </p>
        </div>
        <div style="background-color: rgb(114, 200, 180); height: 282px" class="col-lg-3 text-center col-lg-offset-1 hvr-grow">
            <br />
            <h4 style="font-family: OpenSans"><b>Confiance</b></h4>
            <br />
            <p>
                Nos experts comptables et nos juristes construisent pour vous des solutions adaptées à votre situation. En confiant à Portalia la gestion de votre situation, vous vous garantissez d’être en adéquation avec les règles du droit du travail
            </p>
        </div>
        <div style="background-color: rgb(114, 200, 180); height: 282px" class="col-lg-3 text-center col-lg-offset-1 hvr-grow">
            <br />
            <h4 style="font-family: OpenSans"><b>Transparence</b></h4>
            <br />
            <p>
                Votre satisfaction : notre moteur au quotidien. Nous nous rendons disponible pour toutes vos questions et mettons en œuvre les solutions adaptées à chacun. Vous disposez d’un accès sécurisé et personnel à toutes vos données
            </p>
        </div>
    </div>
</div>