<!---HERO -->
<div class="full-header" style="background: url('../../img/background-team.jpg');">


    <div class="hero-message-fullscreen">
        <div class="title-border">
            <h2 style="color:white;"> Notre mission </h2>

        </div>

        <h2 style="color:white;font-weight: 300;font-size: 28px;">Vous êtes unique et nous allons prendre soin de vous.</h2>
        <p style="color:white;font-weight: 300;font-size: 18px;">
            En choisissant de travailler en portage salarial, vous avez souhaité gagner en indépendance et en flexibilité tout en conservant les protections offertes par le statut de salarié.
            <br />
            <br />
            Vous allez désormais pouvoir construire votre propre trajectoire de carrière grâce aux projets correspondants à vos expertises.
            <br />
            <br />
            Libéré des contraintes administratives induites par la complexité du Code du travail, vous pourrez vous consacrer sereinement à votre cœur de métier en qualité de consultant chez vos clients.
            Nous nous chargeons en effet de gérer pour vous l’intégralité des démarches nécessaires à la relation tripartite qui va lier votre client, PORTALIA et vous-même.
            <br />
            <br />
            Nos experts en droit du travail, droit commercial, comptables et juristes seront là pour vous assister. Nos Managers, quant à eux, véritables coachs personnels, auront à cœur de veiller à la bonne réalisation de votre mission et construiront avec vous un plan de développement personnel.
        </p>
        <p style="color:white;font-weight: 500;font-size: 21px;">
            Nous serons ravis de vous rencontrer dans nos bureaux pour échanger avec vous et répondre à vos questions !

            À très bientôt chez PORTALIA !
        </p>
    </div>


</div>



<!---SECTION TEAM -->
<section style="background:linear-gradient(to bottom,#f0f4f7 0,#fff 49%,#fff 100%);">
    <img src="https://cdn.o2f-it.com/16401/leadership_png" class="img-section-profil">
    <h2 class="title-equipe">La Team</h2>
    <p class="subtitle-equipe">Composée de multiples talents tous complémentaires, notre équipe met tout son savoir-faire au quotidien pour structurer vos offres et répondre à vos questions.</p>
    <div class="column-line" style="justify-content: center;">
        <div class="profil-container">
            <div class="profil">
                <img class="img-profil" src="../../img/profile/pierrick.jpg">
                <div class="name-profil">
                    <h3>Pierrick<a href="https://www.linkedin.com/in/pierrickrocher/" target="_blank" rel="noopener" style="color:#248fd4;margin-left:5px;"><i class="fab fa-linkedin"></i></a></h3><p>Co-Fondateur et Directeur</p>
                </div>
            </div>
            <div class="profil">
                <img class="img-profil" src="../../img/profile/margaux.jpg">
                <div class="name-profil">
                    <h3>Margaux</h3><p>Responsable Administrative et Financiere</p>
                </div>
            </div>
            <div class="profil">
                <img class="img-profil" src="../../img/profile/aurelien.jpg">
                <div class="name-profil">
                    <h3>Aurelien</h3><p>Responsable des Ressources Humaines</p>
                </div>
            </div>

            <div class="profil">
                <img class="img-profil" src="../../img/profile/bruno.jpg">
                <div class="name-profil">
                    <h3>Bruno</h3><p>Juriste droit des sociétés</p>
                </div>
            </div>
            <div class="profil">
                <img class="img-profil" src="../../img/profile/aghate.jpg">
                <div class="name-profil">
                    <h3>Agathe</h3><p>Juriste, droit du travail</p>
                </div>
            </div>


            <div class="profil">
                <img class="img-profil" src="../../img/profile/noushria.jpg">
                <div class="name-profil">
                    <h3>Noushria</h3><p>Comptabilité et Facturation</p>
                </div>
            </div>
            <div class="profil">
                <img class="img-profil" src="../../img/profile/emylie.jpg">
                <div class="name-profil">
                    <h3>Emylie </h3><p>TRecruteuse de Talents</p>
                </div>
            </div>
        </div>
    </div>
    <img src="https://cdn.o2f-it.com/16400/values_png" class="img-section-profil" style="margin-top:100px;">
    <h2 class="title-equipe">Au quotidien les valeurs qui nous animent</h2>


    <div class="threeblocks">
        <div class="categories">
            <h3 style="font-size: 16px;padding-bottom: 25px;">Performance & Dynamisme</h3>
            <p>Grace à notre réseau de partenaires en France et en Europe, vous bénéficiez d’un accès privilégié aux projets à haute valeur ajoutée dans les domaines du conseil en Management, DSI, Ingénierie, R&D, dans les secteurs de la Fintech/Banque, Assurance, Télécommunication/Digital, Transports, Energie, Biotech et Pharma </p>
        </div>
        <div class="categories">
            <h3 style="font-size: 16px;padding-bottom: 25px;">Confiance</h3>
            <p>Nos experts comptables et nos juristes construisent pour vous des solutions adaptées à votre situation. En confiant à Portalia la gestion de votre situation, vous vous garantissez d’être en adéquation avec les règles du droit du travail </p>
        </div>
        <div class="categories">
            <h3 style="font-size: 16px;padding-bottom: 25px;">Transparence</h3>
            <p>Votre satisfaction : notre moteur au quotidien. Nous nous rendons disponible pour toutes vos questions et mettons en œuvre les solutions adaptées à chacun. Vous disposez d’un accès sécurisé et personnel à toutes vos données </p>
        </div>
    </div>
    <!---SECTION NUMBERS -->

</section>

<section id="portalia-expertise" style="margin-top:60px;background:url('https://cdn.o2f-it.com/16408/background-figure_jpg');background-position: center;background-size:cover;background-attachment: fixed;">

    <div class="column-line" style="justify-content: left;margin-top: 100px;margin-bottom:100px;">

        <div class="column-100 " style="float:right;border-bottom:none;">
            <img src="https://cdn.o2f-it.com/16399/number_png" class="img-section-profil" style="margin-top:100px;">

            <h2 class="title-equipe" style="color:white;">Quelques chiffres sur Portalia</h2>

            <div class="threeblocks" style="color: white;">
                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">1,5</h3>
                    <p>Années d’activité  </p>
                </div>
                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">30</h3>
                    <p>Sociétés clientes  </p>
                </div>

                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">4880</h3>
                    <p>Nombre de jours facturés depuis la création </p>
                </div>
                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">82</h3>
                    <p>Consultants recrutés depuis la création </p>
                </div>
                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">35 villes</h3>
                    <p>Présence en France</p>
                </div>

                <div class="categories">
                    <h3 style="color: white;border-bottom: solid 1px rgb(255, 255, 255);">8</h3>
                    <p>Nationalités</p>
                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="title-equipe" style="margin-top:100px;">Pourquoi choisir Portalia ?</h2>


<div class="threeblocks">
    <div class="categories-5">
        <h3 class="text-center" style="font-size: 16px;padding-bottom: 25px;">Des valeurs</h3>
        <p>basées sur le respect, la confiance, l'engagement</p>
    </div>
    <div class="categories-5">
        <h3 class="text-center" style="font-size: 16px;padding-bottom: 25px;">Un réseau</h3>
        <p>de Clients & Partenaires</p>
    </div>

    <div class="categories-5">
        <h3 class="text-center" style="font-size: 16px;padding-bottom: 25px;">Un back office </h3>
        <p>d'experts pour répondre à vos questions</p>
    </div>

    <div class="categories-5">
        <h3 class="text-center" style="font-size: 16px;padding-bottom: 25px;">Une plateforme web</h3>
        <p>Qui simplifie les démarches</p>
    </div>

    <div class="categories-5">
        <h3 class="text-center" style="font-size: 16px;padding-bottom: 25px;">Une culture</h3>
        <p>Orienté "conseil"</p>
    </div>
</div>


<div class="column-line" style="justify-content: center;margin-top: 150px;margin-bottom:50px;border:none;flex-wrap: wrap;">
    <div class="column-100" style="display: inline-flex;justify-content: center;flex-wrap: wrap;border:none;">
        <h3 style="margin-right: 20px;">Simplifiez vous l'indépendance</h3><a href="@Url.Action("ContactUs")" class="input-button inscription-process">Je m'inscris</a>
    </div>
</div>
