@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="page-wrapper page-404">
    <div class="not-found">
        <span class="not-found__title">404</span>
        <span class="not-found__subtitle">Oups, vous semblez être perdu ...</span>
        <a class="not-found__link" href="/">Revenir sur terre</a>
    </div>
</div>