@{
    ViewBag.Title = "Mention legales";
}

<!---HERO -->
<div class="full-header" style="background: url('../../img/background-mention.jpg');height:40vh;background-position: center;">


    <div class="hero-message-fullscreen">
        <div class="title-border">
            <h2 style="color:white;"> Mention Legales </h2>
        </div>
    </div>


</div>


<!---SECTION portage -->

<section style="background:linear-gradient(to bottom,#f0f4f7 0,#fff 49%,#fff 100%);">

    <div class="box">
        <div class="column-line" style="padding: 56px;">
            <div class="column-100" style="display: block;">
                <h1>Conditions Générales</h1>
                <h2>1.	Acceptation et modification des conditions d’utilisation.</h2>
                <p>À chaque fois que vous accéder à ce site Web et l’utilisez, vous acceptez de vous soumettre aux Conditions d’utilisation, lesquelles sont modifiées de temps à autre, que vous en soyez avisé ou non. De plus, si vous utilisez un service spécifique sur ou via ce site Internet, vous serez sujet à toutes les règles ou directives applicables à ces services qui seront incorporées par référence à ces Conditions d’utilisation.  Veuillez lire notre politique de confidentialité, laquelle est incorporée par renvoi dans les présentes Conditions d’utilisation.</p>
                <h2>2.	Nos Services.</h2>
                <p>Notre site web et les services qui vous sont fournis sur et à travers ce site sont fournis &lt;&lt;TEL QUEL&gt;&gt;. Vous reconnaissez aux propriétaires du site le droit, sans notification ou dédommagement aucun, de modifier ou suspendre ce site et ou ses services en totalité ou en partie, ainsi que de supprimer les données que vous avez fournies, de manière temporaire ou permanente. Nous ne pouvons être tenus responsables ou poursuivis d’impondérables, de suppressions, d’échec à l’enregistrement, d’erreurs ou d’envois erronés d’informations ou de données.</p>
                <h2>3.	Vos responsabilités et obligations d’enregistrement.</h2>
                <p>Afin de profiter de ce site Web, vous devez vous inscrire sur notre site et consentir à nous fournir des renseignements exacts et véridiques sur demande, et vous devez également être âgé de treize ans (13) ou plus.  En vous enregistrant, vous acceptez explicitement nos Conditions d’utilisation, celles-ci pouvant être modifiées par nous a n’importe quel moment.</p>
                <h2>4. Politique de confidentialité.</h2>
                <p>Les données d’enregistrement et autres renseignements nominatifs que le site peut recueillir sont assujettis aux conditions de la Politique de confidentialité.</p>
                <h2>5. Inscription et mot de passe.</h2>
                <p>Vous avez la responsabilité d’assurer la confidentialité de votre mot de passe et vous êtes responsable de toutes les utilisations qui sont faites de votre inscription, avec ou sans votre autorisation. Vous vous engagez à nous signaler dans les meilleurs délais, tout usage non autorisé de votre compte ou mot de passe.</p>
                <h2>6. Votre conduite.</h2>
                <p>Vous acceptez que tous les renseignements ou données de tout genre, qu’il s’agisse de texte, logiciel, code, musique ou son, photographie ou image, vidéo ou tout autre matériel (‘’contenu’’), diffusés en public ou en privé, engagent votre responsabilité exclusive. Vous acceptez de ce fait que ce site puisse vous exposer à un contenu offensant ou répréhensible. Nous ne pouvons être tenus responsables, de quelque façon que ce soit, pour le contenu diffusé sur ce site ni d’éventuelles erreurs et ou omissions. En accédant ou en utilisant ce site ou tout autre service offert, vous vous engagez expressément à en aucun cas:</p>
                <p>(a)	fournir un quelconque contenu et ou  vous engagez dans un comportement pouvant être interprété comme illicite, illégal, menaçant, préjudiciable, injurieux, harcelant, persécutant, délictueux, diffamatoire, calomnieux,  vulgaire, obscène, offensant, choquant, pornographique, conçu pour interférer et ou interrompre le fonctionnement de ce site Web et ou les produits fournis, infecté par un virus ou toute autre routine de programme destructive ou nuisible, engageant la responsabilité civile ou pénale; ou contraire aux lois applicables au niveau local, national ou international;</p>
                <p>(b)	vous faire passer pour quelqu’un d’autre et prétendre être en association avec une personne ou entité; vous ne fabriquerez pas ni ne chercherez autrement à dissimuler ou déformer l’origine de tout contenu fourni par vous;</p>
                <p>(c)	récolter ou collecter des données personnelles concernant d’autres utilisateurs;</p>
                <p>(d)	fournir ou utiliser ce site web et son contenu à des fins commerciales ou d’une manière qui impliquerait des courriers indésirables, pourriels, chaînes de lettres, pyramides; ou toute autre forme de publicité ou de commerce non autorisée et sans notre consentement écrit préalable;</p>
                <p>(e)	fournir un quelconque contenu qui pourrait engager la responsabilité civile ou pénale du site ou enfreindre une loi locale, nationale ou internationale, y compris  - mais non exclusivement – les lois relatives  aux droits d’auteur, marques de commerce, brevets ou secrets commerciaux.</p>
                <h2>7. Contenu de ce Site Web.</h2>
                <p>En soumettant un contenu sur notre Site:</p>
                <p>(a)	vous acceptez de nous octroyer à une échelle mondiale un droit perpétuel, sans royalties, non-exclusif, (incluant les droits moraux ou autres) d’utiliser, d’afficher, de reproduire, de modifier, d’adapter, de publier, de distribuer, de représenter, de promouvoir, d’archiver, de traduire et de créer des travaux dérivés et des compilations, en entier ou en partie. Cette licence sera applicable sous toute forme de média ou technologie connue ou développée ultérieurement;</p>
                <p>(b)	vous déclarez et  êtes en mesure de démontrer que vous avez tous les droits moraux et autres qui doivent nous être présentés avec la licence mentionnée dans la présente section 7;  </p>
                <p>
                    (c) vous comprenez et convenez que nous nous réservons le droit (mais pas l’obligation), à notre discrétion, de refuser de publier ou de supprimer tout contenu ou même bloquer l’accès à tout contenu que vous pourriez avoir soumis au Site, à tout moment, pour une raison quelconque, avec ou sans préavis.
                </p>
                <h2>8. Les Services Tiers.</h2>
                <p>
                    Des biens et ou services de sociétés tierces pourront être affichés ou rendus accessibles sur ce site. Les représentations faîtes concernant les produits et les services fournis par des tiers seront régies par les politiques et représentations de ces tiers. Nous ne pouvons être tenu responsables de quelque manière que ce soit des échanges et interactions que vous pourriez avoir avec ces tiers.
                </p>
                <h2>9. Indemnisation.</h2>
                <p>Vous vous engagez à nous dédommager et à nous indemniser ainsi que nos filiales, affiliées, apparentées, administrateurs, cadres, employés, mandataires , sous-traitants, associés,  et partenaires commerciaux contre toute responsabilité, réclamation ou demande, incluant notamment des honoraires raisonnables des avocats, déposée par tout tiers, liés à toute violation des présentes conditions par vous ou le non-respect des droits de toute autre personne ou entité, en raison de ou découlant du contenu que vous auriez rendu disponible par l’intermédiaire de ce site ou ce service.</p>
                <h2>10.	Exclusion de Garanties.</h2>
                <p>
                    Vous comprenez et convenez que votre utilisation de ce site web et de tout service ou contenu fourni (Le &lt;&lt;service&gt;&gt; est à vos seuls risques. Il vous est fourni &lt;&lt;TEL QUEL&gt;&gt; et nous déclinons expressément toute garantie, expresse ou implicite, de quelque sorte que ce soit, notamment mais sans s’y limiter, les garanties implicites de qualité marchande ou de convenance à une fin particulière et de non violation des droits. <br>
                    <br>
                    <br>
                    NOUS NE DONNONS AUCUNE GARANTIE, EXPRESSE OU IMPLICITE, QUE TOUTE PARTIE DE CE SERVICE SERA  ININTERROMPUE, EXEMPTE D’ERREURS, EXEMPTE DE VIRUS, RAPIDE, SECURISÉE, PRÉCISE, FIABLE OU DE QUALITÉ, NI QUE LE CONTENU PEUT ÊTRE TÉLÉCHARGÉ D’UNE MANIÈRE SÛRE. VOUS COMPRENEZ ET CONVENEZ QUE NI NOUS NI AUCUN PARTICIPANT AU SERVICE NE DONNONS DE CONSEILS PROFESSIONNELS D’AUCUNE SORTE ET QUE L’UTILISATION DE TOUT CONSEIL OU RENSEIGNEMENT OBTENU PAR CE SITE WEB NE SE FAIT QU’A VOS PROPRES RISQUES DONT NOUS N’EN SAURONS TENUS RESPONSABLES.<br>
                    <br>
                    <br>
                    Certaines juridictions interdisent l’exclusion des garanties implicites, en conséquence l’exclusion mentionnée ci-dessus peut ne pas s’appliquer à vous.
                </p>
                <h2>11.	Limitation de responsabilité.</h2>
                <p>
                    VOUS CONSENTEZ EXPRESSEMENT QUE NOUS NE SERONS PAS RESPONSABLES DE DOMMAGE QU’IL SOIT DIRECT,  INDIRECT, SPÉCIAL, IMPRÉVU, PARTICULIER OU EXEMPLAIRE, INCLUANT MAIS NON LIMITÉ À UNE PERTE DE PROFIT, DE CLIENTÈLE, D’UTILISATION,  DE DONNÉES OU TOUTE AUTRE PERTE DE BIENS INCORPORELS. (MÊME SI NOUS AVONS ÉTÉ INFORMÉS DE LA POSSIBILITÉ D’UNE TELLE PERTE), RÉSULTANT OU PROVENANT:<br>
                    <br>
                    (I) DE L’UTILISATION OU L’INCAPACITÉ D’UTILISER CE SERVICE,<br>
                    <br>

                    (II) DU COÛT DES PRODUITS ET OU DES SERVICES DE SUBSTITUTION RÉSULTANT DE TRANSACTIONS ENGAGÉS À TRAVERS LE SERVICE,<br>
                    <br>
                    (III) DES ACCÈS NON-AUTORISÉS DE VOS DONNÉES OU ALTÉRATION DE CELLES-CI,<br>
                    <br>
                    (IV) DES DÉCLARATIONS OU DU COMPORTEMENT D’UN TIERS SUR LE SERVICE, OU<br>
                    <br>
                    (V) DE TOUT AUTRE QUESTION CONCERNANT LE SERVICE.<br>
                    <br>
                    Certaines juridictions ne permettent pas la limitation de responsabilité, en conséquence de telles limitations peuvent ne pas s’appliquer à vous.<br>
                </p>
                <h2>12. Droits Réservés.</h2>
                <p>
                    Nous nous réservons tous les droits, incluant mais non exclusivement, tous droits d'auteur, marques de commerce, brevets, secrets commerciaux, et tout autre droit de propriété que nous pouvons détenir relativement à ce site Web, son contenu, les biens et services qui peuvent être fournis. L'utilisation de nos droits et propriétés requièrent nos acceptations écrites préalables. Nous ne vous fournissons aucune licence déclarée ou implicite, ou de droits en mettant à votre disposition des services et vous n'avez aucun droit d'utiliser le site et services associés à des fins commerciales sans notre acceptation écrite préalable.
                </p>
                <h2>13. Avis de violation du droit d’auteur.</h2>
                <p>Si vous pensez que votre propriété a été utilisée d’une manière qui constitue une violation du copyright ou que vos droits de propriété intellectuelle ont été violés, notre agent des copyrights peut être contacté à l’adresse suivante: Imprint</p>
                <h2>
                    14. Droit Applicable.
                </h2>
                <p>Vous acceptez que les présentes Conditions d’utilisation et tout litige découlant de votre utilisation de ce site Web ou des produits ou services fournis par ce dernier soient régis par les lois locales applicables au siège du propriétaire du site et interprétés conformément à celles-ci, sans considération des dispositions de ce pays en matière de conflits des lois. En vous enregistrant sur, ou en utilisant ce site Internet et ses services, vous consentez et vous soumettez à la juridiction exclusive du pays ou de la ville où est situé le siège du propriétaire de ce site internet.</p>
                <h2>15. Données personnelles.</h2>
                <p>
                    Conformément à la loi No 78-17 du 6 janvier 1978, relative à l’informatique, aux fichiers et aux libertés, les  utilisateurs du site disposent d’un droit d’accès, de modification, de rectification et de suppression des données personnelles qui les concernent, qu’ils peuvent exercer à tout moment en envoyant un courriel à <a href="mailto:Info@portalia.fr">Info@portalia.fr.</a>Les utilisateurs de ce site peuvent également, pour des motifs légitimes, s’opposer au traitement des données les concernant.
                </p>
                <h2>
                    16. Informations diverses.
                </h2>
                <p>
                    (i)	Au cas où les termes précités entreraient en conflit avec la loi, selon laquelle  l’une quelconque disposition est jugée invalide par un tribunal compétent au regard des Parties, ladite disposition sera interprétée de sorte à refléter les intentions des parties conformément au droit applicable,  et le restant de ces Conditions d’utilisation demeurera valide et exécutoire.<br>
                    <br>
                    (ii)	La défaillance d’une des parties dans l‘exécution de tout droit en vertu de ces Conditions ne sera interprétée comme une renonciation à ce droit, lequel demeurera pleinement en vigueur et conservera tous ses effets;<br>
                    <br>
                    (iii)	Vous convenez qu'une réclamation relative à un sinistre découlant de ou en rapport avec l'utilisation d'un ou plusieurs des services doit être réalisée dans un délai d’une (1) année suivant la survenance dudit sinistre ou elle sera alors à jamais périmée ;<br>
                    <br>
                    (iv)	Nous pouvons céder nos droits et obligations en vertu des présentes Conditions Générales d’Utilisation et être ainsi libérés de toute obligation à l’égard de ce site.<br>
                </p>
            </div>
        </div>
    </div>
</section>


