@{
    ViewBag.Title = "Portage From A to Z";
}


<header id="head" class="secondary"></header>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/">Accueil</a></li>
        <li class="active">Le portage de A à Z</li>
    </ol>
    <div class="row">
        <header class="page-header deAZ-header">
            <div style="padding-top: 205px; color: white; padding-left: 50px; font-size: 50px;" class="text-left">
                <p>QU’EST-CE QUE LE PORTAGE SALARIAL ?</p>
            </div>
        </header>
    </div>
    <div style="background-color: rgb(114, 200, 180); color: white; padding: 10px 50px 0 50px" class="text-justify row">
        <p class="lead">Le portage salarial est un statut éprouvé qui permet à des professionnels autonomes de créer ou exercer leur activité sans les contraintes et les risques de la création d’entreprise ou de statuts plus précaires comme l’auto-entrepreneur ou l’indépendant (TNS).</p>
        <p class="lead">Les professionnels autonomes qui choisissent ce statut pour exercer leur métier sont salariés de la société de portage et agissent de manière autonome dans leurs actions commerciales et la réalisation de leurs missions.</p>
    </div>
    <div class="page-header text-center">
        <h1>
            A QUI S’ADRESSE LE PORTAGE SALARIAL ?
        </h1>
    </div>
    <div class="row text-justify">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    DEMANDEURS D’EMPLOIS
                </div>
                <p>
                    souhaitant réaliser des missions ponctuelles ou utiliser le portage salarial comme tremplin vers une embauche
                </p>
            </div>
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    CREATEURS D’ENTREPRISES
                </div>
                <p>
                    testant leurs projets sans risque avant la création de leur propre structure
                </p>
            </div>
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    RETRAITES OU PRERETRAITES
                </div>
                <p>
                    souhaitant conserver une activité professionnelle et compléter leur retraite
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    PROFESSIONNELS OU SALARIES
                </div>
                <p>
                    souhaitant mieux valoriser leurs compétences ou exercer en temps choisi  une activité complémentaire
                </p>
            </div>
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    PROFESSIONNELS TRAVAILLANT EN TEMPS PARTAGE
                </div>
                <p>
                    souhaitant regrouper l’ensemble de leurs activités dans le cadre d’un employeur unique en portage salarial.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="page-title blue-text">
                    JEUNES DIPLOMES
                </div>
                <p>
                    souhaitant acquérir une première expérience professionnelle soit à l’issue de leur cursus soit dans le cadre de leurs études
                </p>
            </div>
        </div>
    </div>
    <div style="border-style: solid; border-color:rgb(23, 122, 192) " class="row">
        <div class="col-lg-6">
            <img src="https://cdn.o2f-it.com/16389/PortageSalarial_png" />
        </div>
        <div style="background-color: rgb(23, 122, 192); color: white; height: 552px;padding-top: 15px;
    padding-right: 60px;" class="col-lg-6 text-justify">
            <div class="page-title">
                <h2>RELATION TRIPARTITE</h2>
            </div>
            <div>
                <h3>L’entreprise de portage salarial PORTALIA gère pour le compte du salarié la partie administrative.</h3>
                <h3>Elle aide le consultant dans son développement personnel.</h3>
                <h3>Elle met en contact avec d’autres salariés avec le consultant pourra échanger et trouver d’autres missions.</h3>
                <h3>
                    En contrepartie des services que PORTALIA fournit, l’entreprise rémunère via des frais de gestion qui sont intégrés dans le prix journalier refacturé au client
                </h3>    
            </div>
        </div>
    </div>
    <div class="row text-justify">
        <div class="page-header text-center">
            <h1>
                POURQUOI CHOISIR LE PORTAGE SALARIAL ?
            </h1>
        </div>
        <div class="page-title blue-text">
            EN TANT QUE PORTÉ
        </div>
        <p>
            Vous conservez l’ensemble des avantages liés au statut de « salarié ». Vous trouvez vos projets et négociez directement avec le client le montant des honoraires. Il vous est possible de cumuler ARE versée par les Assedic et votre rémunération. En tant que salarié vous n’avez pas à créer une société ni même à l’administrer. Vous conservez également votre affiliation au régime général de la sécurité sociale et bénéficiez de l’indemnisation par Pôle emploi en fin de mission.
        </p>
        <div class="page-title blue-text">
            EN TANT QUE CLIENT FINAL
        </div>
        <p>
            Vous avez accès à une population d’experts. Le statut de porté offre la possibilité de faire travailler des anciens salariés que vous connaissez. Vous conservez la souplesse liée à l’externalisation et limitez les risques de délit de marchandage/prêt de main d’œuvre illicite. Le contrat permet de vous offrir Flexibilité et Agilité (plus souple que le CDD ou l’Intérim)
        </p>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-prime register-button" href="/Account/Register" style="font-size: 20px">Rejoignez-nous</a>
    </div>
</div>
