@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="work-contract">
    <div class="wc__inner">
        <div class="wc__heading">
            <h2 class="wc__title">Je génère mon Work Contract</h2>
            <p class="wc__subtitle">Afin de commencer vos missions avec Portalia, nous allons créer avec vous un contrat de Portage Salarial. Ce contrat vous servira pour accéder aux missions et projets de votre choix, et ainsi débuter votre business.</p>
        </div>
        <div class="wc__body">
            <div class="wc__form-wrapper">
                <form class="wc__form">
                    <div class="wc__form-title">Mes informations</div>
                    <div class="wc__form-row">
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Titre</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Prénom</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="Adiren" />
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Nom</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="Etaix" />
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Date de naissance</label>
                            <div class="wc__form-control">
                                <!-- Datetime picker -->
                                <input class="wc__form-control-datepicker" type="text" value="" placeholder="" id="wc__form-birthday" />
                                <span class="wc__form-control-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Pays de naissance</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Nationalité</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <label class="wc__form-label">Adresse</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Code Postal</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Ville</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Pays</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row wc__form-row--pb-40px wc__form-row--gutter-25px">
                        <div class="wc__form-item wc__form-item--w-50">
                            <label class="wc__form-label">Numéro de Sécurité Sociale</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-50">
                            <label class="wc__form-label">Référence du permis de travail</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-title">Ma mission</div>
                    <div class="wc__form-row wc__form-row--gutter-25px">
                        <div class="wc__form-item wc__form-item--w-50">
                            <label class="wc__form-label">Date de début du contrat</label>
                            <div class="wc__form-control">
                                <!-- Datetime picker -->
                                <input class="wc__form-control-datepicker" type="text" value="" placeholder="" id="wc__form-start-date" />
                                <span class="wc__form-control-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-50">
                            <label class="wc__form-label">Date de fin du contrat (optionnel sauf si CDD)</label>
                            <div class="wc__form-control">
                                <!-- Datetime picker -->
                                <input class="wc__form-control-datepicker" type="text" value="" placeholder="" id="wc__form-end-date" />
                                <span class="wc__form-control-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <label class="wc__form-label">Description du projet</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <label class="wc__form-label">Vos compétences</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select" id="wc__form-skill">
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <label class="wc__form-label">Nom de votre client</label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Default</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <label class="wc__form-label">Adresse de votre client</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label">Rémunération</label>
                            <div class="wc__form-control">
                                <input class="wc__form-control-text" type="number" value="" placeholder="e.g. 100" />
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label"></label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>EUR - Euro</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="wc__form-item wc__form-item--w-33">
                            <label class="wc__form-label"></label>
                            <div class="wc__form-control">
                                <select class="wc__form-control-select">
                                    <option>Per Working Day</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Dolor Sit Amet</option>
                                    <option>Consectetur</option>
                                    <option>Adipiscing Elit</option>
                                </select>
                                <span class="wc__form-control-icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wc__form-row">
                        <div class="wc__form-item">
                            <div class="wc__form-group-button">
                                <a class="wc__form-button" href="javascript:void(0);">Enregistrer comme brouillon</a>
                                <a class="wc__form-button wc__form-button--alt" href="javascript:void(0);">Générer mon work contract</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section styles {
    @Styles.Render("~/bundles/work-contract-css")
}

@section Scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/WorkContract/work-contract.js"></script>
}