
<footer class="footer">
    <div class="footer--top">
        <div class="footer-container">
            <div class="row">
                <div class="col-12 col-xl-6 order-xl-2">
                    <div class="footer__logo-container">
                        <a class="footer__logo footer__logo--main" href="/">
                            <img src="https://cdn.o2f-it.com/download/20083/logo-white.png" alt="Logo White" />
                        </a>   
                        <p class="footer__logo__desc">
                            Portalia est membre du <b>PEPS</b>, le syndicat<br />
                            des professionnels de l'emploi en portage salarial.<br />
                            <a class="footer__category-link" target="_blank" href="http://www.peps-syndicat.fr/">En savoir plus</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-6 order-xl-1">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="footer__category">
                                <h3 class="footer__title">Portalia</h3>
                                <ul class="footer__category-list">
                                    <li class="footer__category-item"><a class="footer__category-link" href="/">Accueil</a></li>
                                    <li class="footer__category-item"><a class="footer__category-link" href="/a-propos">Qui sommes –nous ?</a></li>
                                    <li class="footer__category-item"><a class="footer__category-link" href="/Portalia/Account/Login">Je me connecte</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="footer__category">
                                <h3 class="footer__title">Comprendre le portage</h3>
                                <ul class="footer__category-list">
                                    <li class="footer__category-item"><a class="footer__category-link" href="/portage-salarial-definition">Les avantages du Portage salarial</a></li>
                                    <li class="footer__category-item"><a class="footer__category-link" href="/portage-salarial-avis-temoignages">Les avis des portés</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="footer__category">
                                <h3 class="footer__title">En mission avec Portalia</h3>
                                <ul class="footer__category-list">
                                    <li class="footer__category-item"><a class="footer__category-link" href="/simulation-portage-salarial">Calculez votre salaire</a></li>
                                    <li class="footer__category-item"><a class="footer__category-link" href="/trouvez-mission-portage-salarial">Trouvez votre mission</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--middle">
        <div class="footer-container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="footer__register">
                        <h3 class="footer__title">Devenir porté en quelques clics</h3>
                        <a class="footer__register-link" href="/Portalia/Account/Register">
                            <img class="footer__register-icon" src="https://cdn.o2f-it.com/20084/account-new_png" alt="" />
                            <span>Créer un compte</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">

                    <div class="footer__contact">
                        <h3 class="footer__title">Une question, une remarque ?</h3>
                        <div class="footer__contact__container">
                            <div class="footer__contact__item footer__contact-mail">
                                <div class="footer__contact-icon">
                                    <img class="" src="https://cdn.o2f-it.com/21212/mail-icn_png" />
                                </div>
                                <a class="footer__contact-link" href="mailto:contact@portalia.fr?Subject=Je%20souhaite%20rentrer%20en%20contact%20again">contact@portalia.fr</a>
                            </div>
                            <div class="footer__contact__item footer__contact-phone">
                                <div class="footer__contact-icon">
                                    <img class="" src="https://cdn.o2f-it.com/21213/phone-icn_png" />
                                </div>
                                <a class="footer__contact-link" href="callto:+33 1 76 71 09 01">+33 1 76 71 09 01</a>
                            </div>
                            <div class="footer__contact__item footer__contact-address">
                                <div class="footer__contact-icon">
                                    <img class="" src="https://cdn.o2f-it.com/21211/location-icn_png" />
                                </div>
                                <div class="footer__contact-address__info">
                                    <span class="footer__contact-address__info-item"> 28 Rue Jacques Ibert</span>
                                    <span class="footer__contact-address__info-item"> 92300, Levallois-Perret, France</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="footer__subcribe">
                        <h3 class="footer__title">Être rappelé dans les 24h par un de nos accompagnateurs.</h3>                        
                        <form class="form-telephone-input">
                            <div class="form-telephone-input-row">
                                <input class="form-control telephone-input" aria-label="phone-number" placeholder="Téléphone" />
                                <button type="button" class="btn btn-send telephone-input-button">
                                    <span class="button-label">Être rappelé</span>
                                </button>
                            </div>
                            <p class="error-message error-message-input"></p>
                            <div class="form-telephone-input__confirm">
                                <label>
                                    <input class="telephone-input-confirm" type="checkbox" />
                                    J'accepte
                                    <a href="https://www.portalia.fr/mentions-legales" target="_blank" rel="noopener">les conditions d'utilisation</a>
                                    et
                                    <a href="https://www.portalia.fr/politique-confidentialite" target="_blank" rel="noopener">politique de confidentialité</a>
                                    de Portalia
                                </label>
                            </div>
                            @*<p class="error-message error-message-checkbox"></p>*@
                            <p class="error-message error-message-server"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--bottom">
        <div class="footer-container">
            <div class="row justify-content-xl-between">
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="footer__legal">
                        <a class="footer__legal-link" href="/mentions-legales">Nos mentions légales</a>
                        <a class="footer__legal-link" href="/politique-confidentialite">Politique de Confidentialité</a>
                        @*<a class="footer__legal-link" href="/politique-d-utilisation-des-cookies">Politique d'utilisation des cookies</a>*@
                        <p class="footer__copyright mt-3">©2018 - Portalia | Les experts du portage salarial</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="footer__social">
                        <div class="footer__social-list">
                            <a class="footer__social-item" target="_blank" rel="noopener" href="https://www.facebook.com/PortaliaPortage/"><i class="fab fa-facebook-square"></i><span class="sr-only">Social a</span></a>
                            <a class="footer__social-item" target="_blank" rel="noopener" href="https://twitter.com/PortaliaPortage"><i class="fab fa-twitter-square"></i><span class="sr-only">Social a</span></a>
                            <a class="footer__social-item" target="_blank" rel="noopener" href="https://www.linkedin.com/company/13258602/"><i class="fab fa-linkedin"></i><span class="sr-only">Social a</span></a>
                            <a class="footer__social-item" href="mailto:contact@portalia.fr?Subject=Je%20souhaite%20rentrer%20en%20contact%20again"><i class="fas fa-envelope"></i><span class="sr-only">Social a</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>