@* START: Welcome Card *@
<section class="welcome-card welcome-card--hide">

    <div class="welcome-card__content welcome-card--first ">
        <img class="welcome-card__content-image" src="~/Content/images/validation-illu.png" alt="" />
        <h3 class="welcome-card__content-heading">Bienvenue !</h3>
        <p class="welcome-card__content-message">Votre compte Portalia a été crée avec succès.</p>
        <button class="btn welcome-card__content-action welcome-card__content-action--first-card">Suivant</button>
    </div>

    <div class="welcome-card__content welcome-card--second welcome-card--hide ">
        <img class="welcome-card__content-image" src="~/Content/images/phone.png" alt="" />
        <h3 class="welcome-card__content-heading">Avant de commencer votre mission, nous allons vous contacter pour échanger sur votre projet.</h3>
        <p class="welcome-card__content-message">
            Cette étape va nous permettre de nous rencontrer et d'établir les éléments de votre contrat de travail
            avec Portalia.
        </p>
        <button class="btn welcome-card__content-action welcome-card__content-action--second-card"> Compris !</button>
    </div>
</section>
@* END: Welcome Card *@

