@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Inactif";
}
<header id="head" class="secondary"></header>
<div class="container" style="min-height: 630px">
    <ol class="breadcrumb">
        <li><a href="~/">Accueil</a></li>
        <li class="active">Inactif</li>
    </ol>
    <div class="row">
        <hgroup>
            <h2 class="text-danger">
                Bonjour,<br/>
                <br/>
                Il semblerai que votre compte soit inactif, merci de contacter nos équipes en envoyant un mail à <a href="mailto:contact@portalia.fr">contact@portalia.fr</a>.<br/>
                <br/>
                Team Portalia.
            </h2>
        </hgroup>
    </div>
</div>

