@{
    Layout = null;
}

<html>
<head>
</head>
<body>
    <div style="background-color:#e8e8e8;font-family:Arial">
        <table width="100%" class="m_7043682065155439905mail">
            <tbody>
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" width="600px">
                            <tbody>
                                <tr>
                                    <td align="left" style="background-color:#fff;font-size:19px;text-align:left">
                                        <a href="https://portalia.fr/" style="border:none;color:#ffffff;text-decoration:none" target="_blank" rel="noopener">
                                            <img style="display:block;border:0px;margin:0px" alt="Little Big Connection" src="http://qa.portalia.fr/Content/images/header.png" class="CToWUd" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="background-color:#ffffff;color:#4c4d4f;padding:20px 20px 0px 20px;font-size:14px;text-align:left">
                                        <p>Name: @ViewBag.Name</p>
                                        <p>Email: @ViewBag.Email</p>
                                        <p>Phone: @ViewBag.Phone</p>
                                        <p>Message: @ViewBag.Message</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:#fff;">
                                        <a href="https://portalia.fr/" style="border:none;color:#ffffff;text-decoration:none" target="_blank" rel="noopener"><img alt="Little Big Connection" src="http://qa.portalia.fr/Content/images/footer.png" /></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>