@model Portalia.Models.RegisterViewModel
<style type="text/css" rel="stylesheet">
    .button-az {
        background-position: 0px 0px;
        bottom: 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: block;
        height: 42px;
        left: 0px;
        position: relative;
        right: 0px;
        text-align: center;
        text-decoration: none solid rgb(255, 255, 255);
        top: 0px;
        vertical-align: middle;
        white-space: nowrap;
        width: 114.734px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 57.3594px 21px;
        transform-origin: 57.3594px 21px;
        user-select: none;
        background: rgb(51, 122, 183) none repeat scroll 0px 0px / auto padding-box border-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 3px 3px 3px 3px;
        list-style: none outside none;
        margin: 5px 0px 0px 5px;
        outline: rgb(255, 255, 255) none 0px;
        padding: 10px 15px;
    }
</style>
<div>
    <img height="1200px" width="600px" src="https://cdn.o2f-it.com/13981/portalia-welcomeemail_jpg" alt="Alternate Text" />
    <div>
        <span style="position: absolute; top: 265px; left: 86px;">Bonjour @Model.FirstName @Model.LastName,</span>
        <br/>
        <br/>
        <br/>
        <span style="position: absolute; top: 342px; left: 86px;">
            Vous venez juste de vous inscrire sur<br /> le site portalia.fr et toute l’équipe <br />de PORTALIA vous en remercie.
        </span>
    </div>
    <div>
        <span style="position: absolute; top: 514px; left: 220px;">
            Vous entrez, dès à présent, dans la<br />belle communauté des Portaliens ;)
        </span>
    </div>
    <div>
        <a style="position: absolute; top: 672px; left: 83px;" class="button-az" href="https://portalia.fr/Home/PortageFromAtoZ">En savoir plus</a>
        <span style="position: absolute; top: 737px; left: 86px;">
            (qui renverrait sur la partie<br />
            Le Portage salarial de A a Z)
        </span>
    </div>
    <div>
        <span style="position: absolute; top: 828px; left: 83px;">
            Merci de votre confiance, ainsi que de l’intérêt que vous nous<br />portez
            <br />
            Nous allons prendre contact avec vous très rapidement pour<br />faire plus ample connaissance et répondre à vos questions.
        </span>
    </div>
    <div>
        <span style="position: absolute; top: 1091px; left: 83px;">
            Sincèrement,
        </span>
    </div>
</div>

