<button type="submit" class="btn btn-xs" id="Linkedin" name="provider" value="Linkedin" title="Log in using your Linkedin account">
    <img src="https://cdn.o2f-it.com/16384/Sign-In-Large---Active_png" />
</button>
